<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <error-page>
    	<error-code>500</error-code>
    	<location>/error/500.jsp</location>
    </error-page>
    <error-page>
    	<error-code>404</error-code>
    	<location>/error/404.jsp</location>
    </error-page>
  <servlet>
    <servlet-name>addCustServlet</servlet-name>
    <servlet-class>com.wxj.web.addCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCustServlet</servlet-name>
    <servlet-class>com.wxj.web.ListCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CustInfoServlet</servlet-name>
    <servlet-class>com.wxj.web.CustInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCustServlet</servlet-name>
    <servlet-class>com.wxj.web.UpdateCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelCustServlet</servlet-name>
    <servlet-class>com.wxj.web.DelCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BatchDelCustServlet</servlet-name>
    <servlet-class>com.wxj.web.BatchDelCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindCustByCondServelt</servlet-name>
    <servlet-class>com.wxj.web.FindCustByCondServelt</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageCustServlet</servlet-name>
    <servlet-class>com.wxj.web.PageCustServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>addCustServlet</servlet-name>
    <url-pattern>/addCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCustServlet</servlet-name>
    <url-pattern>/ListCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustInfoServlet</servlet-name>
    <url-pattern>/CustInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateCustServlet</servlet-name>
    <url-pattern>/UpdateCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelCustServlet</servlet-name>
    <url-pattern>/DelCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BatchDelCustServlet</servlet-name>
    <url-pattern>/BatchDelCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindCustByCondServelt</servlet-name>
    <url-pattern>/FindCustByCondServelt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageCustServlet</servlet-name>
    <url-pattern>/PageCustServlet</url-pattern>
  </servlet-mapping>

</web-app>